@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
   --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
   --body-color: #E4E9F7;
   --light-bg: #eee;
          /* Variables for storing colors */
    --card-clr: #161922;
    --body-clr: #191d28;
    --primary-clr: #f0bf6a;
    --heading-clr: #dadada;
    --text-clr: #767a86;


   --dark-jungle-green: hsl(188, 63%, 7%);
   --prussian-blue: hsl(200, 69%, 14%);
   --raisin-black-1: hsl(227, 29%, 13%);
   --raisin-black-2: hsl(229, 17%, 19%);
   --yellow-green: hsl(89, 72%, 45%);
   --orange-soda: hsl(9, 100%, 62%);
   --cultured-1: hsl(0, 0%, 93%);
   --cultured-2: hsl(192, 24%, 96%);
   --misty-rose: hsl(7, 56%, 91%);
   --alice-blue: hsl(210, 100%, 97%);
   --seashell: hsl(8, 100%, 97%);
   --cadet: hsl(200, 15%, 43%);
   --white: hsl(0, 0%, 100%);
   --black: hsl(0, 0%, 0%);
   --opal: hsl(180, 20%, 62%);
}

div.hero-banner img{
    filter: blur(4px);
    -webkit-filter: blur(4px);
    max-width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}

div.logo{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 20%;
    text-align: center;
    opacity: 0; 
    animation: fadeIn 2s forwards;
    pointer-events: none;
}

div.hero-text{
    color: var(--orange-soda);
    font-weight: bold;
    background: -webkit-linear-gradient(var(--orange-soda), var(--prussian-blue));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 120px;
    opacity: 0; 
    animation: fadeIn 2s forwards;
    pointer-events: none;
}

p.hero-subtitle{
    color: var(--prussian-blue);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    opacity: 0; 
    animation: fadeIn 2s forwards;
    pointer-events: none;
}

div.hero-button{
    font-weight: bold;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
    opacity: 0; 
    animation: fadeIn 2s forwards;
}

div.hero-button a{
    width: 100%;
    height: 50px;
    background-color: var(--orange-soda);
    color: white; 
}

div.hero-button a:hover{
   width: 100%;
    height: 50px;
    background-color: #f14627;
    color: white; 
}

div.hero-button a::after{
   width: 100%;
    height: 50px;
    background-color: var(--orange-soda);
    color: white; 
}

div.container.cards{
    margin-top:100px;
    margin-bottom:500px;
}


div.row.banner-cards a.button-cards {
    background-color: var(--orange-soda);
    color: white;
    border-radius: 10px;
    height: 100%;
    width:100%
}

div.row.banner-cards div.col-3 a.button-cards:hover{
    background-color: #f14021;
}

div.offcanvas-body{
    padding:0;
}

div.list-group a{
    font-size: 24px;
}

div.list-group a:hover{
    background-color:  var(--orange-soda);
    color:white;
}

.site-footer {
    background-color: var(--prussian-blue);
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: var(--cultured-1);
 }
 
 .site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
 }
 
 .site-footer hr.small {
    margin: 20px 0
 }
 
 .site-footer h6 {
    color: #232A3D;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
 }
 
 .site-footer h2{
    font-size: 3.5rem;
 }
 
 .site-footer .text-justify{
    text-align: justify;
 }
 
 .site-footer a {
    color: var(--cultured-1);
 }
 
 .site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
 }
 
 .footer-links {
    padding-left: 0;
    list-style: none
 }
 
 .footer-links li {
    display: block
 }
 
 .footer-links a {
    color: var(--cultured-1);
 }
 
 .footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
 }
 
 .footer-links.inline li {
    display: inline-block
 }
 
 .site-footer .social-icons {
    text-align: left
 }
 
 .site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: var(--cultured-1);
 }
 
 .copyright-text {
    margin: 0
 }
 
 @media (max-width:991px) {
    .site-footer [class^=col-] {
       margin-bottom: 30px
    }
 }
 
 @media (max-width:767px) {
    .site-footer {
       padding-bottom: 0
    }
 
    .site-footer .copyright-text, .site-footer .social-icons {
       text-align: center
    }
 }
 
 .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
 }
 
 .social-icons li {
    display: inline-block;
    margin-bottom: 4px
 }
 
 .social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
 }
 
 .social-icons a {
    background-color: var(--cultured-1);
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
 }
 
 .social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #29aafe
 }
 
 .social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
 }
 
 .social-icons a.facebook:hover {
    background-color: #3b5998
 }
 
 .social-icons a.twitter:hover {
    background-color: #00aced
 }
 
 .social-icons a.linkedin:hover {
    background-color: #007bb6
 }
 
 .social-icons a.dribbble:hover {
    background-color: #ea4c89
 }
 
 @media (max-width:767px) {
    .social-icons li.title {
       display: block;
       margin-right: 0;
       font-weight: 600
    }
 }

 @media (min-width: 1460px) {
   div.hero-button{
      top:60%;
      width: 50%;
   }

   div.hero-button a{
      top:50%;
      font-size: 12px;
      width: 25%;
      height: 30px;
      padding-top: 5px;
   }

   div.hero-button a:hover{
      top:50%;
      font-size: 12px;
      width: 25%;
      height: 30px;
      padding-top: 5px;
      background-color: #f14627;
   }

   div.hero-button a::after{
      top:50%;
      font-size: 12px;
      width: 25%;
      height: 30px;
      padding-top: 5px;
      background-color: var(--orange-soda);
   }
}

 @media (max-width: 1459px) {
   div.logo{
      top: 23%;
   }

   div.hero-text {
       font-size: 100px;
       top: 32%;
       width:100%;
   }

   p.hero-subtitle {
       font-size: 24px; 
       top: 39%;
       width:100%;
   }

   div.hero-button{
      top:50%;
      width: 25%;
     
   }

   div.hero-button a{
      top:50%;
      font-size: 12px;
      width: 70%;
      height: 30px;
      padding-top: 5px;
   }

   div.hero-button a:hover{
      top:50%;
      font-size: 12px;
      width: 70%;
      height: 30px;
      padding-top: 5px;
      background-color: #f14627;
   }

   div.hero-button a::after{
      top:50%;
      font-size: 12px;
      width: 70%;
      height: 30px;
      padding-top: 5px;
      background-color: var(--orange-soda);
   }
}

 @media (min-width: 1000px) and (max-width: 1400px) {
   div.logo{
      top: 20%;
   }

   div.hero-text {
       font-size: 56px;
       top: 29%;
       width:100%;
   }

   p.hero-subtitle {
       font-size: 18px; 
       top: 34%;
       width:100%;
   }

   div.hero-button{
      top:45%;
      width: 25%;
     
   }

   div.hero-button a{
      top:35%;
      font-size: 12px;
      width: 70%;
      height: 30px;
      padding-top: 5px;
   }

   div.hero-button a:hover{
      top:35%;
      font-size: 12px;
      width: 70%;
      height: 30px;
      padding-top: 5px;
      background-color: #f14627;
   }

   div.hero-button a::after{
      top:35%;
      font-size: 12px;
      width: 70%;
      height: 30px;
      padding-top: 5px;
      background-color: var(--orange-soda);
   }
}


 @media (min-width: 768px) and (max-width: 999px) {
   div.logo{
      top: 13%;
   }

   div.hero-text {
       font-size: 48px;
       top: 20%;
       width:100%;
   }

   p.hero-subtitle {
       font-size: 14px; 
       top: 25%;
       width:100%;
   }

   div.hero-button{
      top:30%;
      width: 25%;
   }

   div.hero-button a{
      top:30%;
      font-size: 8px;
      width: 70%;
      height: 20px;
   }

   div.hero-button a:hover{
      top:30%;
      font-size: 8px;
      width: 70%;
      height: 20px;
      background-color: #f14627;
   }

   div.hero-button a::after{
      top:30%;
      font-size: 8px;
      width: 70%;
      height: 20px;
      background-color: var(--orange-soda);
   }

   a.button-cards div.col{
      font-size: 16px;
   }
}

@media (max-width: 767px){
   div.logo{
      top: 10%;
   }

   div.hero-text {
       font-size: 48px;
       top: 17%;
       width:100%;
   }

   p.hero-subtitle {
       font-size: 14px; 
       top: 22%;
       width:100%;
   }

   div.hero-button{
      top:25%;
      width: 50%;
   }

   div.hero-button a{
      top:25%;
      font-size: 8px;
      width: 70%;
      height: 20px;
   }

   div.hero-button a:hover{
      top:25%;
      font-size: 8px;
      width: 70%;
      height: 20px;
      background-color: #f14627;
   }

   div.hero-button a::after{
      top:25%;
      font-size: 8px;
      width: 70%;
      height: 20px;
      background-color: var(--orange-soda);
   }
}

@media (min-width:342px) and (max-width: 576px) {
   div.logo{
      top: 6%;
   }

   div.hero-text {
       font-size: 32px;
       top: 10%;
       width:100%;
   }

   p.hero-subtitle {
       font-size: 9px; 
       top: 13%;
       width:100%;
   }

   div.hero-button{
      top:17%;
      width: 50%;
   }

   div.hero-button a{
      top:17%;
      font-size: 8px;
      width: 70%;
      height: 20px;
   }

   div.hero-button a:hover{
      top:17%;
      font-size: 8px;
      width: 70%;
      height: 20px;
      background-color: #f14627;
   }

   div.hero-button a::after{
      top:17%;
      font-size: 8px;
      width: 70%;
      height: 20px;
      background-color: var(--orange-soda);
   }
}

@media (max-width: 341px) {
   div.hero-text {
      font-size: 24px;
      top: 8%;
      width:100%;
  }

   div.logo{
      top: 5%;
   }

   p.hero-subtitle {
      font-size: 8px; 
      top: 10%;
      width:100%;
   }

   div.hero-button{
      top:13%;
      width: 50%;
   }

   div.hero-button a{
      top:13%;
      font-size: 8px;
      width: 70%;
      height: 20px;
   }

   div.hero-button a:hover{
      top:13%;
      font-size: 8px;
      width: 70%;
      height: 20px;
      background-color: #f14627;
   }

   div.hero-button a::after{
      top:13%;
      font-size: 8px;
      width: 70%;
      height: 20px;
      background-color: var(--orange-soda);
   }
}






@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



